@use "sass:map";
@import "theme";
@import "reponsive";

html, body {
    margin: 0;
}

*{
    font-family: $font-regular;
    padding: 0;
    margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: 0 auto;
}

@media (max-width: 575px) {
   .container {
     padding: 0;
  }
}
@media (max-width: 767px) {
   .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
    .container {
    max-width: 960px;
  } 
}
.text-center {
  text-align: center !important;
}
.text-end {
  text-align: end !important;
}
.h-100 {
  height: 100% !important;
}
.w-100 {
  width: 100% !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.d-flex {
  display: flex;
}
.pb-2 {
  padding-bottom: 40px;
}
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  
  .col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
    
  }
  
  .col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  
  .col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  
  .col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  
  .col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  
  .col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  
  .col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .d-none {
    display: none ;
  }
  .d-block {
    display: block;
  }
  .btn-main {
    font-size: 14px;
    color: "";
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding: 16px 30px 17px;
    background: "";
    border: none;
    border-radius: 45px;
  }

.button-submit {
    font-size: 14px;
    color: "";
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    padding: 16px 30px 17px;
    background: "";
    border: none;
    height: 100%;

}


@include Responsive($MEDIUM-DEVICE) {
    .d-lg-block {
      display: block !important;
    }
    .d-lg-none {
      display: none;
    }
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
      }
      .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
      }
      .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
      }
      .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
      }
      .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
      }
      .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
      }
      .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
      }
      .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
      }
      .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
      }
      .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
      }
      .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
      }
      .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
      }
}
@include Responsive($TABLET-DEVICE) {
  .d-md-block {
    display: block !important;
  }
  .d-md-none {
    display: none;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    }
    
}
@include Responsive($WIDE-MOBILE) {
  .d-sm-none {
    display: none;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
} 
}
@include Responsive($SMALL-DEVICE) {

  .d-xs-none {
    display: none;
  }
    .col-xs {
      flex: 0 0 auto;
        width: 100%;
      }
  
  .col-xs-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xs-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xs-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xs-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xs-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xs-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xs-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xs-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xs-12 {
    flex: 0 0 auto;
    width: 100%;
} 
}